.section{
    
padding-bottom: 19.5px;
 background-color: $main-background-color;

 @media screen and(min-width:768px){
    padding-bottom: 20px;
    
 }
 @media screen and(min-width:1200px){
    padding-bottom: 60px;
 }
}
.contacts__list{
    display: flex;
    gap: 32px;
}
.contacts__shop{
    padding: 40px;
    background-color:$footer-cards-background ;
    width: 368px;
    border-radius: 24px;
}
.shop__type{
    margin-bottom: 32px;
    height: 28px;
        width: max-content;
        letter-spacing: .04em;
        text-transform: uppercase;
        color: $black-text-color;
        background-color: $yellow-color;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        padding: 0 24px;
        font-weight: 500;
        line-height: 1.8;
        display: flex;
}


.shop__location{
    margin-bottom: 8px;
}
.shop__link{
    display: block;
    color:$card-3-background;
    margin-bottom: 32px;
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.81;
        
    
        letter-spacing: 0.04em;
    
        color: #D6936D;
}
.shop__content--after::after {
    content: "";
    margin-bottom: 32px;
    height: 1px;
    width: 100%;
    background-color: #e1e1e1;
    display: block;
}
.shop__weekdays{
    margin-bottom: 12px;
}
.shop__weekends{
    margin-bottom: 32px;
}
.shop__days{
    color:$black-text-color;
    line-height: 1.81;
    font-weight: 500;
}
.shop__time{
    color:#ABABAB;
    line-height: 1.81;
    font-weight: 500;
    
}
.shop__contact{
    color: $black-text-color;
    line-height: 1.81;
        font-weight: 500;
}